<div class="container bg-white w-25 mt-5 p-4" style="border: 4px solid; border-radius: 8px;">
    <div class="d-flex justify-content-center">
        <form (ngSubmit)="onSignIn(SignInForm)" #SignInForm="ngForm">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="form2Example1" class="form-control" name="UserName" ngModel />
              <label class="form-label" for="form2Example1">User name</label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form2Example2" class="form-control" ngModel name="Password"/>
              <label class="form-label" for="form2Example2">Password</label>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
          
            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a routerLink="/signup">Register</a></p>
            </div>
          </form>
    </div>
</div>